@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-yC7LiU6hC0Ek: #2563eb;
  --plasmic-token-primary-blue: var(--token-yC7LiU6hC0Ek);
  --token-E_JxIr4-Frha: #1d4ed8;
  --plasmic-token-primary-blue-hover: var(--token-E_JxIr4-Frha);
  --token-Psw5abNN5lIq: #f8fafc;
  --plasmic-token-background-gray: var(--token-Psw5abNN5lIq);
  --token-URkmUrGURzXT: #ffffff;
  --plasmic-token-white: var(--token-URkmUrGURzXT);
  --token-kn8SCYstpg5P: #111827;
  --plasmic-token-text-gray-900: var(--token-kn8SCYstpg5P);
  --token-JelzKGJcJoDq: #6b7280;
  --plasmic-token-text-gray-600: var(--token-JelzKGJcJoDq);
  --token-xz01rA_BII1Y: #d1d5db;
  --plasmic-token-border-gray-300: var(--token-xz01rA_BII1Y);
  --token-9OnBMkAVT_x_: #3b82f6;
  --plasmic-token-border-focus: var(--token-9OnBMkAVT_x_);
  --token-lj50-39v8Tjf: Inter;
  --plasmic-token-font-inter: var(--token-lj50-39v8Tjf);
  --token-SZz_2DTj596Z: 14px;
  --plasmic-token-text-sm: var(--token-SZz_2DTj596Z);
  --token-zHyy7tH_T9WH: 16px;
  --plasmic-token-text-base: var(--token-zHyy7tH_T9WH);
  --token-8sNUBLw4Odc5: 24px;
  --plasmic-token-text-2-xl: var(--token-8sNUBLw4Odc5);
  --token-Um5FYj02L_Ca: 30px;
  --plasmic-token-text-3-xl: var(--token-Um5FYj02L_Ca);
  --token-2uO9BLqCIc8A: 8px;
  --plasmic-token-spacing-2: var(--token-2uO9BLqCIc8A);
  --token-j2Ea8Y2qJUnC: 12px;
  --plasmic-token-spacing-3: var(--token-j2Ea8Y2qJUnC);
  --token-2YdckIJBu5_X: 16px;
  --plasmic-token-spacing-4: var(--token-2YdckIJBu5_X);
  --token-qRE28q-39H4K: 24px;
  --plasmic-token-spacing-6: var(--token-qRE28q-39H4K);
  --token-4GxnU5_OEZZK: 32px;
  --plasmic-token-spacing-8: var(--token-4GxnU5_OEZZK);
  --token-E9Rk278qt9op: 48px;
  --plasmic-token-spacing-12: var(--token-E9Rk278qt9op);
  --token-bSpOSCslRyPl: 64px;
  --plasmic-token-spacing-16: var(--token-bSpOSCslRyPl);
  --token-DlMgIkTM6iCA: 1.25;
  --plasmic-token-leading-tight: var(--token-DlMgIkTM6iCA);
  --token-K0aTfOkeqPWy: 1.5;
  --plasmic-token-leading-normal: var(--token-K0aTfOkeqPWy);
  --token-6PeeE6H3oHOm: 1rem;
  --plasmic-token-size-16: var(--token-6PeeE6H3oHOm);
  --token-beTacjNFfhjB: #ffffff;
  --plasmic-token-basic-container-background: var(--token-beTacjNFfhjB);
  --token-fMA-sec1I4_N: #030712;
  --plasmic-token-basic-text-primary: var(--token-fMA-sec1I4_N);
  --token-RpVPlEfOK4D0: Inter;
  --plasmic-token-sans-serif: var(--token-RpVPlEfOK4D0);
  --token-m14VLzbDBk-e: 1rem;
  --plasmic-token-font-md: var(--token-m14VLzbDBk-e);
  --token-P0YZbRbbvOFr: 1.25;
  --plasmic-token-line-height-md: var(--token-P0YZbRbbvOFr);
  --token-AGNtFaFjMNxq: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-AGNtFaFjMNxq);
  --token-rCd8DTVK-jLN: 0.75rem;
  --plasmic-token-size-12: var(--token-rCd8DTVK-jLN);
  --token-DHkPQjv2JZ2v: 1.5rem;
  --plasmic-token-size-24: var(--token-DHkPQjv2JZ2v);
  --token-fK9a1en6U0gE: 1.25rem;
  --plasmic-token-font-lg: var(--token-fK9a1en6U0gE);
  --token-PWnqjvW5_AEf: #2563eb;
  --plasmic-token-brand-brand: var(--token-PWnqjvW5_AEf);
  --token-R1BpPQrv9K3b: 0.5rem;
  --plasmic-token-size-8: var(--token-R1BpPQrv9K3b);
  --token-Vsp0kCrwZ4pT: 0.375rem;
  --plasmic-token-size-6: var(--token-Vsp0kCrwZ4pT);
  --token-Iz6XeJnRIO6r: #374151;
  --plasmic-token-neutral-neutral: var(--token-Iz6XeJnRIO6r);
  --token-QtkGgdjbrDWK: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-QtkGgdjbrDWK);
  --token-n1cadLSyXgm2: #6b7280;
  --plasmic-token-muted-muted: var(--token-n1cadLSyXgm2);
  --token-DOROmsanzJ0j: 0.25rem;
  --plasmic-token-size-4: var(--token-DOROmsanzJ0j);
  --token-dhQFF-4t5unM: 0.75rem;
  --plasmic-token-font-sm: var(--token-dhQFF-4t5unM);
  --token-IpArKP8lERzP: 1;
  --plasmic-token-line-height-sm: var(--token-IpArKP8lERzP);
  --token-2wMfFI1ToBGg: 1.4;
  --plasmic-token-line-height-lg: var(--token-2wMfFI1ToBGg);
  --token-440J3-OC4EIk: 0.125rem;
  --plasmic-token-size-2: var(--token-440J3-OC4EIk);
  --token-9Lzkvgv1g_vh: #16a34a;
  --plasmic-token-success-success: var(--token-9Lzkvgv1g_vh);
  --token-yShOQLOBdIaX: #facc15;
  --plasmic-token-warning-warning: var(--token-yShOQLOBdIaX);
  --token-BDIcSFuwW9uu: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-BDIcSFuwW9uu);
  --token-NPRhb4BX8SsE: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-NPRhb4BX8SsE);
  --token-IkMp1prymqrh: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-IkMp1prymqrh);
  --token-dgRHZmKSiJZ3: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-dgRHZmKSiJZ3);
  --token-h9Upx20sLZW7: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-h9Upx20sLZW7);
  --token-1Wl0puQr_HQC: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-1Wl0puQr_HQC);
  --token-zigEOhhn67S0: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-zigEOhhn67S0);
  --token-cWTPH7AZ-CSz: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-cWTPH7AZ-CSz);
  --token-KkreUd6swt1N: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-KkreUd6swt1N);
  --token-99p7xmXVQfF3: #86efac;
  --plasmic-token-success-success-border: var(--token-99p7xmXVQfF3);
  --token-_fcK5TpF7jtO: #fde047;
  --plasmic-token-warning-warning-border: var(--token-_fcK5TpF7jtO);
  --token-pL5MKiiJudBF: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-pL5MKiiJudBF);
  --token-9ACw5VxmsJuc: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-9ACw5VxmsJuc);
  --token-rj4eGG9SGeI8: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-rj4eGG9SGeI8);
  --token-H4j3bCjyea3a: #00000033;
  --plasmic-token-interaction-pressed: var(--token-H4j3bCjyea3a);
  --token-Gq7kPLyMdtbb: 0.625rem;
  --plasmic-token-size-10: var(--token-Gq7kPLyMdtbb);
  --token-4qJQO51Q7IGd: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-4qJQO51Q7IGd);
  --token-LpiBpFSW75DL: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-LpiBpFSW75DL);
  --token-f96hb3zp2xnV: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-f96hb3zp2xnV);
  --token-7Q-duhxxSggZ: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-7Q-duhxxSggZ);
  --token-YYjBAFIsC8h0: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-YYjBAFIsC8h0);
  --token-BXvSy5Ze6HLT: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-BXvSy5Ze6HLT);
  --token-UMidU3CmRSh7: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-UMidU3CmRSh7);
  --token-e_ry1MzEE3pH: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-e_ry1MzEE3pH);
  --token-a50DO8VOGchC: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-a50DO8VOGchC);
  --token-w0jpMto1CS0D: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-w0jpMto1CS0D);
  --token-IqaXGWp_OJ2l: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-IqaXGWp_OJ2l);
  --token-HikaBLlXjlsC: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-HikaBLlXjlsC
  );
  --token-E6L-wYgXipjr: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-E6L-wYgXipjr);
  --token-fEnbCRTvw7A3: 1.25rem;
  --plasmic-token-size-20: var(--token-fEnbCRTvw7A3);
  --token-SVrkUdS35ORc: #9ca3af;
  --plasmic-token-basic-ring: var(--token-SVrkUdS35ORc);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-DYWihuYkihp9_font-family: "Inter", sans-serif;
  --mixin-DYWihuYkihp9_font-size: 14px;
  --mixin-DYWihuYkihp9_font-weight: 400;
  --mixin-DYWihuYkihp9_font-style: normal;
  --mixin-DYWihuYkihp9_color: #535353;
  --mixin-DYWihuYkihp9_text-align: left;
  --mixin-DYWihuYkihp9_text-transform: none;
  --mixin-DYWihuYkihp9_line-height: 1.5;
  --mixin-DYWihuYkihp9_letter-spacing: normal;
  --mixin-DYWihuYkihp9_white-space: pre-wrap;
  --mixin-DYWihuYkihp9_user-select: text;
  --mixin-DYWihuYkihp9_text-decoration-line: none;
  --mixin-DYWihuYkihp9_text-overflow: clip;
  --mixin-TDffdudSzIL8_color: #000000;
  --mixin-TDffdudSzIL8_font-weight: 600;
  --mixin-TDffdudSzIL8_font-size: 40px;
  --mixin-TDffdudSzIL8_line-height: 1;
  --mixin-TDffdudSzIL8_letter-spacing: -1px;
  --mixin-TDffdudSzIL8_white-space: pre-wrap;
  --mixin-Fnq4a9W5Ctok_color: #000000;
  --mixin-Fnq4a9W5Ctok_font-size: 30px;
  --mixin-Fnq4a9W5Ctok_font-weight: 600;
  --mixin-Fnq4a9W5Ctok_line-height: 1.1;
  --mixin-Fnq4a9W5Ctok_white-space: pre-wrap;
  --mixin-wzzDtsZnBSqh_color: #0070f3;
  --mixin-wzzDtsZnBSqh_white-space: pre-wrap;
  --mixin-UosES7D624fU_color: #000000;
  --mixin-UosES7D624fU_font-size: 24px;
  --mixin-UosES7D624fU_font-weight: 600;
  --mixin-UosES7D624fU_line-height: 1.2;
  --mixin-UosES7D624fU_white-space: pre-wrap;
  --mixin-JS3am1FnnXZo_color: #000000;
  --mixin-JS3am1FnnXZo_font-size: 20px;
  --mixin-JS3am1FnnXZo_font-weight: 600;
  --mixin-JS3am1FnnXZo_line-height: 1.3;
  --mixin-JS3am1FnnXZo_white-space: pre-wrap;
  --mixin-Y5C3jnCtU4Q1_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Y5C3jnCtU4Q1_border-bottom-color: #dddddd;
  --mixin-Y5C3jnCtU4Q1_border-bottom-style: solid;
  --mixin-Y5C3jnCtU4Q1_border-bottom-width: 1px;
  --mixin-Y5C3jnCtU4Q1_border-left-color: #dddddd;
  --mixin-Y5C3jnCtU4Q1_border-left-style: solid;
  --mixin-Y5C3jnCtU4Q1_border-left-width: 1px;
  --mixin-Y5C3jnCtU4Q1_border-right-color: #dddddd;
  --mixin-Y5C3jnCtU4Q1_border-right-style: solid;
  --mixin-Y5C3jnCtU4Q1_border-right-width: 1px;
  --mixin-Y5C3jnCtU4Q1_border-top-color: #dddddd;
  --mixin-Y5C3jnCtU4Q1_border-top-style: solid;
  --mixin-Y5C3jnCtU4Q1_border-top-width: 1px;
  --mixin-Y5C3jnCtU4Q1_border-bottom-left-radius: 3px;
  --mixin-Y5C3jnCtU4Q1_border-bottom-right-radius: 3px;
  --mixin-Y5C3jnCtU4Q1_border-top-left-radius: 3px;
  --mixin-Y5C3jnCtU4Q1_border-top-right-radius: 3px;
  --mixin-Y5C3jnCtU4Q1_font-family: "Inconsolata";
  --mixin-Y5C3jnCtU4Q1_padding-bottom: 1px;
  --mixin-Y5C3jnCtU4Q1_padding-left: 4px;
  --mixin-Y5C3jnCtU4Q1_padding-right: 4px;
  --mixin-Y5C3jnCtU4Q1_padding-top: 1px;
  --mixin-Y5C3jnCtU4Q1_white-space: pre-wrap;
  --mixin-OHXulzl6H8lJ_border-left-color: #dddddd;
  --mixin-OHXulzl6H8lJ_border-left-style: solid;
  --mixin-OHXulzl6H8lJ_border-left-width: 3px;
  --mixin-OHXulzl6H8lJ_color: #888888;
  --mixin-OHXulzl6H8lJ_padding-left: 10px;
  --mixin-OHXulzl6H8lJ_white-space: pre-wrap;
  --mixin-JScF0QehdXN-_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-JScF0QehdXN-_border-bottom-color: #dddddd;
  --mixin-JScF0QehdXN-_border-bottom-style: solid;
  --mixin-JScF0QehdXN-_border-bottom-width: 1px;
  --mixin-JScF0QehdXN-_border-left-color: #dddddd;
  --mixin-JScF0QehdXN-_border-left-style: solid;
  --mixin-JScF0QehdXN-_border-left-width: 1px;
  --mixin-JScF0QehdXN-_border-right-color: #dddddd;
  --mixin-JScF0QehdXN-_border-right-style: solid;
  --mixin-JScF0QehdXN-_border-right-width: 1px;
  --mixin-JScF0QehdXN-_border-top-color: #dddddd;
  --mixin-JScF0QehdXN-_border-top-style: solid;
  --mixin-JScF0QehdXN-_border-top-width: 1px;
  --mixin-JScF0QehdXN-_border-bottom-left-radius: 3px;
  --mixin-JScF0QehdXN-_border-bottom-right-radius: 3px;
  --mixin-JScF0QehdXN-_border-top-left-radius: 3px;
  --mixin-JScF0QehdXN-_border-top-right-radius: 3px;
  --mixin-JScF0QehdXN-_font-family: "Inconsolata";
  --mixin-JScF0QehdXN-_padding-bottom: 3px;
  --mixin-JScF0QehdXN-_padding-left: 6px;
  --mixin-JScF0QehdXN-_padding-right: 6px;
  --mixin-JScF0QehdXN-_padding-top: 3px;
  --mixin-JScF0QehdXN-_white-space: pre-wrap;
  --mixin-6Xu3MqTa-biJ_display: flex;
  --mixin-6Xu3MqTa-biJ_flex-direction: column;
  --mixin-6Xu3MqTa-biJ_align-items: stretch;
  --mixin-6Xu3MqTa-biJ_justify-content: flex-start;
  --mixin-6Xu3MqTa-biJ_list-style-position: outside;
  --mixin-6Xu3MqTa-biJ_padding-left: 40px;
  --mixin-6Xu3MqTa-biJ_position: relative;
  --mixin-6Xu3MqTa-biJ_list-style-type: disc;
  --mixin-6Xu3MqTa-biJ_white-space: pre-wrap;
  --mixin-8CC8vSr_hS_c_display: flex;
  --mixin-8CC8vSr_hS_c_flex-direction: column;
  --mixin-8CC8vSr_hS_c_align-items: stretch;
  --mixin-8CC8vSr_hS_c_justify-content: flex-start;
  --mixin-8CC8vSr_hS_c_list-style-position: outside;
  --mixin-8CC8vSr_hS_c_padding-left: 40px;
  --mixin-8CC8vSr_hS_c_position: relative;
  --mixin-8CC8vSr_hS_c_list-style-type: decimal;
  --mixin-8CC8vSr_hS_c_white-space: pre-wrap;
  --mixin-NRPRnvX6ODSD_color: #000000;
  --mixin-NRPRnvX6ODSD_font-size: 16px;
  --mixin-NRPRnvX6ODSD_font-weight: 600;
  --mixin-NRPRnvX6ODSD_line-height: 1.5;
  --mixin-NRPRnvX6ODSD_white-space: pre-wrap;
  --mixin-qHBoqaLxrpdi_color: #000000;
  --mixin-qHBoqaLxrpdi_font-size: 14px;
  --mixin-qHBoqaLxrpdi_font-weight: 600;
  --mixin-qHBoqaLxrpdi_line-height: 1.5;
  --mixin-qHBoqaLxrpdi_white-space: pre-wrap;
  --mixin-zoX3zQvAad1q_color: #3291ff;
  --mixin-zoX3zQvAad1q_white-space: pre-wrap;
  --mixin-nYKRIV2mmZoj_white-space: pre-wrap;
  --mixin-Je6UL9CnptV3_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-DYWihuYkihp9_font-family);
  font-size: var(--mixin-DYWihuYkihp9_font-size);
  font-weight: var(--mixin-DYWihuYkihp9_font-weight);
  font-style: var(--mixin-DYWihuYkihp9_font-style);
  color: var(--mixin-DYWihuYkihp9_color);
  text-align: var(--mixin-DYWihuYkihp9_text-align);
  text-transform: var(--mixin-DYWihuYkihp9_text-transform);
  line-height: var(--mixin-DYWihuYkihp9_line-height);
  letter-spacing: var(--mixin-DYWihuYkihp9_letter-spacing);
  white-space: var(--mixin-DYWihuYkihp9_white-space);
}

:where(.root_reset) h1:where(.h1__n7aNy),
h1:where(.root_reset.h1__n7aNy),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-TDffdudSzIL8_color);
  font-weight: var(--mixin-TDffdudSzIL8_font-weight);
  font-size: var(--mixin-TDffdudSzIL8_font-size);
  line-height: var(--mixin-TDffdudSzIL8_line-height);
  letter-spacing: var(--mixin-TDffdudSzIL8_letter-spacing);
}

:where(.root_reset) h2:where(.h2__n7aNy),
h2:where(.root_reset.h2__n7aNy),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Fnq4a9W5Ctok_color);
  font-size: var(--mixin-Fnq4a9W5Ctok_font-size);
  font-weight: var(--mixin-Fnq4a9W5Ctok_font-weight);
  line-height: var(--mixin-Fnq4a9W5Ctok_line-height);
}

:where(.root_reset) a:where(.a__n7aNy),
a:where(.root_reset.a__n7aNy),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-wzzDtsZnBSqh_color);
}

:where(.root_reset) h3:where(.h3__n7aNy),
h3:where(.root_reset.h3__n7aNy),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-UosES7D624fU_color);
  font-size: var(--mixin-UosES7D624fU_font-size);
  font-weight: var(--mixin-UosES7D624fU_font-weight);
  line-height: var(--mixin-UosES7D624fU_line-height);
}

:where(.root_reset) h4:where(.h4__n7aNy),
h4:where(.root_reset.h4__n7aNy),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-JS3am1FnnXZo_color);
  font-size: var(--mixin-JS3am1FnnXZo_font-size);
  font-weight: var(--mixin-JS3am1FnnXZo_font-weight);
  line-height: var(--mixin-JS3am1FnnXZo_line-height);
}

:where(.root_reset) code:where(.code__n7aNy),
code:where(.root_reset.code__n7aNy),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Y5C3jnCtU4Q1_font-family);
  border-radius: var(--mixin-Y5C3jnCtU4Q1_border-top-left-radius)
    var(--mixin-Y5C3jnCtU4Q1_border-top-right-radius)
    var(--mixin-Y5C3jnCtU4Q1_border-bottom-right-radius)
    var(--mixin-Y5C3jnCtU4Q1_border-bottom-left-radius);
  padding: var(--mixin-Y5C3jnCtU4Q1_padding-top)
    var(--mixin-Y5C3jnCtU4Q1_padding-right)
    var(--mixin-Y5C3jnCtU4Q1_padding-bottom)
    var(--mixin-Y5C3jnCtU4Q1_padding-left);
  border-top: var(--mixin-Y5C3jnCtU4Q1_border-top-width)
    var(--mixin-Y5C3jnCtU4Q1_border-top-style)
    var(--mixin-Y5C3jnCtU4Q1_border-top-color);
  border-right: var(--mixin-Y5C3jnCtU4Q1_border-right-width)
    var(--mixin-Y5C3jnCtU4Q1_border-right-style)
    var(--mixin-Y5C3jnCtU4Q1_border-right-color);
  border-bottom: var(--mixin-Y5C3jnCtU4Q1_border-bottom-width)
    var(--mixin-Y5C3jnCtU4Q1_border-bottom-style)
    var(--mixin-Y5C3jnCtU4Q1_border-bottom-color);
  border-left: var(--mixin-Y5C3jnCtU4Q1_border-left-width)
    var(--mixin-Y5C3jnCtU4Q1_border-left-style)
    var(--mixin-Y5C3jnCtU4Q1_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote__n7aNy),
blockquote:where(.root_reset.blockquote__n7aNy),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-OHXulzl6H8lJ_color);
  padding-left: var(--mixin-OHXulzl6H8lJ_padding-left);
  border-left: var(--mixin-OHXulzl6H8lJ_border-left-width)
    var(--mixin-OHXulzl6H8lJ_border-left-style)
    var(--mixin-OHXulzl6H8lJ_border-left-color);
}

:where(.root_reset) pre:where(.pre__n7aNy),
pre:where(.root_reset.pre__n7aNy),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-JScF0QehdXN-_font-family);
  border-radius: var(--mixin-JScF0QehdXN-_border-top-left-radius)
    var(--mixin-JScF0QehdXN-_border-top-right-radius)
    var(--mixin-JScF0QehdXN-_border-bottom-right-radius)
    var(--mixin-JScF0QehdXN-_border-bottom-left-radius);
  padding: var(--mixin-JScF0QehdXN-_padding-top)
    var(--mixin-JScF0QehdXN-_padding-right)
    var(--mixin-JScF0QehdXN-_padding-bottom)
    var(--mixin-JScF0QehdXN-_padding-left);
  border-top: var(--mixin-JScF0QehdXN-_border-top-width)
    var(--mixin-JScF0QehdXN-_border-top-style)
    var(--mixin-JScF0QehdXN-_border-top-color);
  border-right: var(--mixin-JScF0QehdXN-_border-right-width)
    var(--mixin-JScF0QehdXN-_border-right-style)
    var(--mixin-JScF0QehdXN-_border-right-color);
  border-bottom: var(--mixin-JScF0QehdXN-_border-bottom-width)
    var(--mixin-JScF0QehdXN-_border-bottom-style)
    var(--mixin-JScF0QehdXN-_border-bottom-color);
  border-left: var(--mixin-JScF0QehdXN-_border-left-width)
    var(--mixin-JScF0QehdXN-_border-left-style)
    var(--mixin-JScF0QehdXN-_border-left-color);
}

:where(.root_reset) ul:where(.ul__n7aNy),
ul:where(.root_reset.ul__n7aNy),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-6Xu3MqTa-biJ_display);
  flex-direction: var(--mixin-6Xu3MqTa-biJ_flex-direction);
  align-items: var(--mixin-6Xu3MqTa-biJ_align-items);
  justify-content: var(--mixin-6Xu3MqTa-biJ_justify-content);
  list-style-position: var(--mixin-6Xu3MqTa-biJ_list-style-position);
  padding-left: var(--mixin-6Xu3MqTa-biJ_padding-left);
  position: var(--mixin-6Xu3MqTa-biJ_position);
  list-style-type: var(--mixin-6Xu3MqTa-biJ_list-style-type);
  column-gap: var(--mixin-6Xu3MqTa-biJ_column-gap);
}

:where(.root_reset) ol:where(.ol__n7aNy),
ol:where(.root_reset.ol__n7aNy),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-8CC8vSr_hS_c_display);
  flex-direction: var(--mixin-8CC8vSr_hS_c_flex-direction);
  align-items: var(--mixin-8CC8vSr_hS_c_align-items);
  justify-content: var(--mixin-8CC8vSr_hS_c_justify-content);
  list-style-position: var(--mixin-8CC8vSr_hS_c_list-style-position);
  padding-left: var(--mixin-8CC8vSr_hS_c_padding-left);
  position: var(--mixin-8CC8vSr_hS_c_position);
  list-style-type: var(--mixin-8CC8vSr_hS_c_list-style-type);
  column-gap: var(--mixin-8CC8vSr_hS_c_column-gap);
}

:where(.root_reset) h5:where(.h5__n7aNy),
h5:where(.root_reset.h5__n7aNy),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-NRPRnvX6ODSD_color);
  font-size: var(--mixin-NRPRnvX6ODSD_font-size);
  font-weight: var(--mixin-NRPRnvX6ODSD_font-weight);
  line-height: var(--mixin-NRPRnvX6ODSD_line-height);
}

:where(.root_reset) h6:where(.h6__n7aNy),
h6:where(.root_reset.h6__n7aNy),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-qHBoqaLxrpdi_color);
  font-size: var(--mixin-qHBoqaLxrpdi_font-size);
  font-weight: var(--mixin-qHBoqaLxrpdi_font-weight);
  line-height: var(--mixin-qHBoqaLxrpdi_line-height);
}

:where(.root_reset) a:where(.a__n7aNy):hover,
a:where(.root_reset.a__n7aNy):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-zoX3zQvAad1q_color);
}

:where(.root_reset) li:where(.li__n7aNy),
li:where(.root_reset.li__n7aNy),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p__n7aNy),
p:where(.root_reset.p__n7aNy),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
